@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: dotted; */
}
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  font-family: Muli sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  height: 4px;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4 ease;
}
.circle {
  background-color: #fff;
  color: #999;
  border: 3px solid var(--line-border-empty);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4 ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}
.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 10px;
  cursor: pointer;
}
.btn:active {
  transform: scale(1.1);
}
